.App {
  text-align: center;
  background-image: url("Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Times New Roman", Times, serif;
}

/* Hover effect for links */
.links > a {
  color: #9ab;
  padding: 0.75em;
  text-align: center;
  text-decoration: none; /* Remove default underline */
  transition: all 0.5s;
  position: relative;
}

/* Underline effect on hover */
.links > a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0; /* Start with no width */
  height: 2px;
  background-color: #aaddff;
  transition: width 0.5s; /* Smooth transition for the underline */
}

.links > a:hover::after {
  width: 100%;
}

.hero-image {
  position: relative;
  min-height: 65vh;
  width: 90%;
  margin: 2vh auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
}

.hero-text {
  text-align: left;
  color: white;
  width: 35%;
  font-size: 1.25rem;
}
